
JAVA_AGP/build/

JAVA_AGP/dist/JAVA_AGP\.jar

FLEX_AGP/flex_libs/Assets\.swc

FLEX_AGP/bin-debug/

FLEX_LIB_AGP/libs/Assets\.swc

FLEX_LIB_AGP/bin/

FLEX_PARCELAS_AGP/bin-debug/

FLEX_PARCELAS_AGP/flex_libs/Assets\.swc

PRJ_AGP/dist/REP_AGP\.ear

BATCH_AGP/JAVA/build/classes/

BATCH_AGP/JAVA/build/jar/

PRJ_AGP/construccion/build\.general\.properties
/exec.scanner.sonarq.bat
/sonar-project.properties
*.prefs
/.metadata/
sonarqube-9.3.0.51899/
sonar-scanner-4.6.2.2472-windows/
apache-tomcat-6.0.20/
/Servers/
#test
.metadata*
JAVA_AGP/nexus*
.recommenders*
/*.log
/rsi_agp.log.1
.idea
.vscode
.smarttomcat
/JAVA_AGP/src/service/main/com/rsi/agp/core/managers/impl/*.rej
/WEB_AGP/construccion/descriptores/LOCAL/wsdl/aseguradosDatosYMedidas/*.rej
/WEB_AGP/construccion/descriptores/LOCAL/*.rej
/WEB_AGP/construccion/*.rej
/WEB_AGP/WebContent/plantillas/jasper/declaracionReduccionCapital/*.jasper
/JAVA_AGP/src/service/main/com/rsi/agp/core/util/*.rej
/eclipse.bat
/eclipse.bat
/rsi_agp.log.2
/rsi_agp.log.1
/BATCH_AGP/*.project
/BATCH_AGP/*.classpath
/JAVA_AGP/*.classpath
/JAVA_AGP/*.project
/PRJ_AGP/*.project
/WEB_AGP/*.project
/WEB_AGP/*.classpath
BATCH_AGP/.gitignore
PRJ_AGP/.project
DOCRGA_SRVMAESTRO/.project
