.jmesa {
    margin: 0;
    padding: 0;
}

.jmesa caption {
    caption-side: top;
	 font-family: tahoma, verdana, arial; 
	 font-size: 11px;  
	 font-weight: bold; 
	 color: #626262; 
	 text-align: center; 
	 vertical-align: top;
	 padding-top: 4px;
	 padding-bottom: 4px;
	 padding-left: 5px;
}

.jmesa .table {
	width: 100%; 
	background-color: #ffffff;
	border: 1px solid silver;
	padding: 2px;
}

.toolbar table {
    margin-left: auto;
    margin-right: 0px;
}

.jmesa .toolbar td {
    padding: 0px 1px 0px 1px;
	 text-align: right;
}

.jmesa .toolbar select {
    font-size: 11px;
    border: solid 1px #c4c3c2;
	 text-align: right;
}

.jmesa .toolbar .pageNumber {
    font-size: 13px;
    font-weight: bold;
    color: #c4634d;
    padding: 0px 2px;
	 text-align: right;
}

.jmesa .toolbar .pageNumber a {
    font-weight: normal;
    color: black;
	 text-align: right;
}

.jmesa .toolbar .textItem {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color: #729fcf;
    padding: 0px 2px;
	 text-align: right;
}

.jmesa .toolbar .textItem a {
    color: #729fcf;
	 text-align: right;
}

.jmesa .toolbar .textItemError {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color: #ec4646;
    padding: 0px 2px;
	 text-align: right;
}

.jmesa .toolbar .textItemError a {
    color: #ec4646;
	 text-align: right;
}

.jmesa .toolbar img {
    border:0px;
	 
}

.jmesa .filter td {
    padding: 2px 2px 3px 2px;
}

.jmesa .tbody input {
    padding: 0;
    margin: 0;
	 text-align: right;
}

.jmesa .filter .dynFilter {
    position: relative;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
    border: 1px solid #c0c0c0;
    background-color: #efebe7;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa .filter #dynFilterDiv {
    position: absolute;
    top: -3px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
    border: 1px solid #c0c0c0;
    background-color: #e1ebf4;
}

.jmesa .filter #dynFilterInput {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: #e1ebf4;
}

.jmesa .filter #dynFilterDroplistDiv, #wsColumnDroplistDiv {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
    background-color: #e1ebf4;
    z-index: 2;
}

.jmesa .filter #dynFilterDroplist, #wsColumnDroplistInput {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    border: 1px solid #c0c0c0;
    background-color: #e1ebf4;
}

.jmesa .header td {
	background-position: right;
	background: url(../../jsp/img/displaytag/arrow_off.png) no-repeat right;
	font-family: tahoma, verdana, arial; 
	font-size: 11px; 
	color: #626262; 
	text-align: left; 
	vertical-align: middle; 
	/*padding-left: 5px; 
	padding-right: 10px; */
	padding-left: 2px; 
	padding-right: 2px;
	padding-bottom: 2px;
	border-bottom:1px solid black;
	text-decoration:none;
}

.jmesa .odd a,.jmesa .even a {
    color: black;
}

.jmesa .odd td,.jmesa .even td,.jmesa .removed td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    padding: 2px 3px 2px 3px;
}

.jmesa .odd td {
	
	background: #F7F7F7;
	
	border-top: 1px solid #c0c0c0;
	color: #000000;
}

.jmesa .even td {
	background: #fff;
	border-top: 1px solid #c0c0c0;
	color: #000000;
}

.jmesa .removed td {
    border: 1px solid white;
}

.jmesa .odd {
    
	background-color: #F7F7F7;
	
}

.jmesa .even {
    background-color: #fff;
}

.jmesa .removed {
    font-family: verdana, arial, helvetica, sans-serif;
    font-style: italic;
    color: #ccc;
}

.jmesa .addRow {
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    color: white;
    background-color: #888;
}

.jmesa .highlight td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
	 color: black;
    padding: 2px 3px 2px 3px;
    background-color: #e1e0d7;
}

.jmesa .highlight a {
    color: black;
}

.jmesa .statusBar td {
	font-family: tahoma,arial,verdana; 
	font-size: 14px; 
	color: #333333; 
	vertical-align: top; 
	white-space: normal; 
	font-size: 11px; 
	height: 25px; 
	text-align: center; 
	font-weight: normal;
	padding: 2%;
	border-color: Black;
}

.jmesa .dropShadow {
    padding: 10px 14px 14px 10px;
}

.jmesa .wsColumn {
    position: relative;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #c0c0c0;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa .wsColumnError {
    position: relative;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: #ec4646;
    border-bottom: 1px dashed #ec4646;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa .wsColumnChange {
    position: relative;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: #005e8f;
    border-bottom: 1px dashed #005e8f;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa #wsColumnDiv {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
    border: 1px solid #c0c0c0;
    background-color: #ededed;
}

.jmesa #wsColumnInput {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: #ededed;
}
